version: '3'
services:
 kaillera:
  hostname: ${hostname}
  image: raulaxxo/kaillera:${version}
  logging:
    driver: "json-file"
    options:
      max-file: "3"
      max-size: "10m"
  container_name: ${hostname}
  restart: always
#  ports:
 #  - '27888-27988:27888-27988/udp'
  environment:
   - TZ=America/Santiago
  network_mode: host
  extra_hosts:
   - host.docker.internal:172.17.0.1
   - gateway.docker.internal:172.17.0.1
  #volumes: 
#   - '/data/sitios:/data/sitios/'
#   - './mnt/:/mnt/'
#  mem_limit: 1000m
#${} 
