
name: Docker Build and Publish

on:
  workflow_run:
    workflows: ["Test and Build Docker Image"]
    types:
      - completed

jobs:
  build:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Log into Docker Hub
        run: echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login --username ${{ secrets.DOCKER_HUB_USERNAME }} --password-stdin

      - name: Build and push Docker image
        run: |
          source .env
          docker build -t ${{ secrets.DOCKER_HUB_USERNAME }}/kaillera:$version .
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/kaillera:$version
        env:
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
